# Ignore any Python build artifacts
app/__init__.py
app/__pycache__/
french/__init__.py
french/__pycache__/
spaCy/__init__.py
spaCy/__pycache__/

# Ignore any generated models
app/models/**
french/models/**
spaCy/models/**
